@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,600&family=Poppins&family=Roboto:wght@400;700&display=swap');


.tableHead{
    background-color: #F2F7FF;
    border: 2px solid #d5e2f7;
    margin: 0;
    padding: 0;
}


.table_header{
    color: #0B409C;
    font-weight: 900;
    background-color: #F2F7FF;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}
