

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; 
    top: 0;
    z-index:100;
    width:100%;
    padding: 10px 30px;

}


.header__icon{
    object-fit: contain;
    height:60px;
}

/* header__center  */
.header__search{
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 35px;
    border: 1px solid lightgray;
    border-radius: 999px;
}

.header__search > input{
    border: none;
    outline-width: 0;
}

button{
    border-width: 0;
    border-style: none;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

button:hover{
    color: #FDBE34;
}